= simple_form_for(@page) do |f|
  = f.error_notification

  .form-inputs

    = f.collection_select :domain_id, Domain.all, :id, :url

    = f.input :title

    = f.input :url

    = f.input :indexpage


  .form-actions
    = f.button :submit
