%h1 Listing pages

%table
  %tr
    %th Domain
    %th Title
    %th Url
    %th
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.domain_id
      %td= page.title
      %td= page.url
      %td= link_to 'Show', page
      %td= link_to 'Edit', edit_page_path(page)
      %td= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }
      %td= link_to 'Download links', startdownloadlinks_page_path(page)

%br

= link_to 'New Page', new_page_path
