%h1 Listing domains

%table
  %tr
    %th Url
    %th Title
    %th
    %th
    %th
    %th

  - @domains.each do |domain|
    %tr
      %td= domain.url
      %td= domain.title
      %td= link_to 'Show', domain
      %td= link_to 'Edit', edit_domain_path(domain)
      %td= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' }
      %td= link_to 'Start', start_domain_path(domain)

%br

= link_to 'New Domain', new_domain_path
